.card{
background-color: rgb(245, 235, 224);
width: 80vw;
margin: 1rem ;
padding: 1rem;
border-radius: 6px;
box-shadow: 0px 0px 5px 0px rgb(128, 128, 128);
z-index: 1;
}

.link-card{
    text-decoration: none;
    color: black;
    z-index: 1;
}

.card:hover h2,hr {
    color: antiquewhite;
}
.card:hover hr {
    background-color: rgba(250, 235, 215, 0.863);
    
}
.card:hover {
    box-shadow: 2px 2px 7px 6px rgb(128, 128, 128);
}

.card>h2{
    text-transform: uppercase;
    margin-bottom: 1rem;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    color: rgba(0, 0, 0, 0.158) ; 
}

.card>img{
    width: 150px;
}
.responsive-text1{
    display: flex;
    justify-content: space-around;
    margin: 0.5rem ;
}
.responsive-text2{
    display: flex;
    justify-content: space-around;
    margin: 0.5rem 0 ;
}
.p-ul{
    margin-left: -1.9rem;
}
.p-pri{
    margin-left:-1rem ;
}

.responsive-text1>p>b{
    color: rgb(90, 90, 90);
}

.responsive-text2>p>b{
    color: rgb(90, 90, 90);
}
hr{
    height: 3px;
    border: transparent;
    background-color: black;
    box-shadow: 0px 0px 5px 0px rgb(128, 128, 128);
}
@media (min-width:500px){
    .card{ 
        width: 40vw;
    }
}
@media (min-width:800px){
    .card{ 
        width: 28vw;
    }
}
@media (min-width:1000px){
    .card{
        margin: 0.8rem;
        width: 250px;
    }
    
}